.cipd
.DS_Store
.gclient
.gclient_entries
.gclient_previous_sync_commits
.vs
.vscode/*
!.vscode/tasks.json
.idea
coverage.summary
default.profraw
lcov.info

/build/
/buildtools/
/cmake-build-*/
/out
/testing
/third_party/abseil-cpp
/third_party/benchmark
/third_party/binutils
/third_party/catapult
/third_party/clang-format
/third_party/cpplint
/third_party/googletest
/third_party/gpuweb-cts
/third_party/llvm-build
/third_party/ninja/ninja*
/third_party/protobuf
/third_party/vulkan-deps
/tools/clang
/tools/bin

/test.wgsl
